.cont-test{
    width: 200px;
    height: 200px;
    display: flex;
    justify-content: center;
    border: 1px solid black;
    margin-top:  5px;
    margin-bottom: 20px;
}
.test {
    display: block;
}

.img-in-cart {
    height: 100px;
    width: 100px;
}
